/* Reset global styles */
html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    margin: 2rem;
  }
  
  /* Typography */
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  p {
    font-size: 2rem;
  }
  
  /* Card styles */
  .card {
    width: 25rem;
    height: 40rem;
    margin-top: 4rem;
    margin-right: 2rem;
    border: 0.1rem dashed darkgray;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem lightgray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Description box inside cards */
  .card-description {
    margin: 1rem 2rem;
  }
  
  /* Highlighted card */
  .card.highlighted {
    box-shadow: 0 0 2rem 1rem rgba(200, 200, 200, 0.75);
  }
  
  /* Hover animation */
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem lightgray;
  }
  